<!-- ======= Clients Section ======= -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center text-center mb-4">
      <div class="col-5">
        <h3 class="h3 heading">My Clients</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit explicabo inventore.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-4 col-sm-4 col-md-2">
        <a href="#" class="client-logo"><img src="assets/img/logo-adobe.png" alt="Image" class="img-fluid"></a>
      </div>
      <div class="col-4 col-sm-4 col-md-2">
        <a href="#" class="client-logo"><img src="assets/img/logo-uber.png" alt="Image" class="img-fluid"></a>
      </div>
      <div class="col-4 col-sm-4 col-md-2">
        <a href="#" class="client-logo"><img src="assets/img/logo-apple.png" alt="Image" class="img-fluid"></a>
      </div>
      <div class="col-4 col-sm-4 col-md-2">
        <a href="#" class="client-logo"><img src="assets/img/logo-netflix.png" alt="Image" class="img-fluid"></a>
      </div>
      <div class="col-4 col-sm-4 col-md-2">
        <a href="#" class="client-logo"><img src="assets/img/logo-nike.png" alt="Image" class="img-fluid"></a>
      </div>
      <div class="col-4 col-sm-4 col-md-2">
        <a href="#" class="client-logo"><img src="assets/img/logo-google.png" alt="Image" class="img-fluid"></a>
      </div>

    </div>
  </div>
</section><!-- End Clients Section -->