<!-- ======= Navbar ======= -->
<div class="collapse navbar-collapse custom-navmenu" id="main-navbar">
  <div class="container py-2 py-md-5">
    <div class="row align-items-start">
      <div class="col-md-2">
        <ul class="custom-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/about">About Me</a></li>
          <li><a href="https://ziyizhu.me/">Blogs</a></li>
          <li><a href="/works">Works</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-6 d-none d-md-block  mr-auto">
        <div class="tweet d-flex">
          <div>
            <p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiis explicabo inventore. <br> <a href="#">t.co/v82jsk</a></em></p>
          </div>
        </div>
      </div>
      <div class="col-md-4 d-none d-md-block">
        <h3>Hire Me</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam necessitatibus incidunt ut officiisexplicabo inventore. <br> <a href="#">myemail@gmail.com</a></p>
      </div>
    </div>

  </div>
</div>

<nav class="navbar navbar-light custom-navbar">
  <div class="container">
    <a class="navbar-brand" href="/">MyPortfolio.</a>
    <a href="#" class="burger" data-bs-toggle="collapse" data-bs-target="#main-navbar">
      <span></span>
    </a>
  </div>
</nav>